Repository FachschaftMathPhysInfo/altklausur-ausleihe, pull requests merged in 2022-02, with the labels that each got.

#87 Rasterize all pages
  exam_marker/Dockerfile
  exam_marker/exam_marker.go
  go.mod
  go.sum
  server/Dockerfile
Labels: enhancement, backend

#92 package updates
  docker-compose.yml
  env_files/minio.env.example
  frontend/package-lock.json
  go.mod
  go.sum
  utils/utils.go
Labels: backend, frontend

#97 Help Dialog
  frontend/src/components/ExamList.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
Labels: frontend

#99 Fixed paddings between questions
  frontend/src/components/ExamList.vue
Labels: frontend

#98 Added darkmode
  frontend/src/components/Application.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/plugins/vuetify.js
Labels: frontend

#102 Update Production
  frontend/src/components/Application.vue
  frontend/src/components/ExamList.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/plugins/vuetify.js
  tools/client.rb
Labels: frontend
